body {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

#landing {
    position: relative;
    display: flex;
    align-items: center;

}

.bg-home {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to right, black, transparent);
}

.bg-overlay2 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to top, black 1%, transparent);
}

.box {
    color: white;
    margin: 0 0 0 10%;
    height: 35%;
    width: 40%;
    z-index: 2;
}

.box-hr {
    display: inline-flex;
    align-items: center;
    width: 80%;
    height: 5%;
}

.box-hr hr {
    width: 10%;
    margin: 0 10px 0 0;
}

.box-hr h6 {
    margin: 0;
    width: 90%;
    font-family: 'Share Tech Mono', monospace;
}

.box h1 {
    font-size: 3rem;
    margin: 0;
    font-family: 'DM Serif Display', serif;
}

.box h3 {
    margin: 5px 0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

#home {
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;

}

#home h1 {
    color: white;
    font-weight: bold;
    margin: 70px 0 0 5%;
    border-bottom: 2px solid green;
    width: 7%;
}

.home-items {
    height: 75%;
    width: 75%;
    margin: auto;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.home-items::-webkit-scrollbar {
    display: none;
}

.items-card {
    color: rgb(14, 8, 8);
    max-width: 250px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 14px 0px #aaaaaa;
    margin: 40px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.items-card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.item-title {
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 5px 0 0 3px;
}

.item-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 0 0 3px;
    font-family: 'Share Tech Mono', monospace;
}

.items-card p {
    margin: 5px 0 10px 3px;
    font-family: 'Bebas Neue', sans-serif;
}


#order {
    background-color: rgb(14, 13, 13);
    position: relative;
    display: flex;
    flex-direction: column;
}

#order h1 {
    color: white;
    font-weight: bold;
    margin: 50px 0 0 5%;
    border-bottom: 2px solid rgb(192, 6, 0);
    width: 12%;
}

#order form {
    height: 60%;
    width: 50%;
    margin: 20px auto;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.order-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.items-input {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 14px 0px #aaaaaa;
    height: 40px;
    width: 250px;
    padding: 20px 5px 10px 5px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.items-input span {
    margin: 0 0 5px 0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.items-input input {

    border: 1px solid rgba(212, 212, 212, 0.842);
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
}

.items-input input:focus-visible {
    outline: none;
}


form button {
    background: rgb(150, 0, 0);
    border-radius: 5px;
    width: 30%;
    height: 30px;
    margin: 30px 35%;
    border: none;
    color: white;
    cursor: pointer;
}

#payment {
    background-color: rgb(14, 13, 13);
    position: relative;
    display: flex;
    flex-direction: column;
}

#payment h1 {
    color: white;
    font-weight: bold;
    margin: 50px 0 0 5%;
    border-bottom: 2px solid rgb(255, 136, 0);
    width: 12%;
}

.checkout-box {
    height: 60%;
    width: 50%;
    margin: 20px auto;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkout-box h2 {
    text-align: center;
    margin: 0 0 10% 0;
}

.checkout-items {
    height: 60%;
    width: 100%;
}

.checkout-column {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Bebas Neue', sans-serif;
    margin: auto;
}

button {
    background: rgb(150, 0, 0);
    border-radius: 5px;
    width: 30%;
    height: 30px;
    margin: 30px 35%;
    border: none;
    color: white;
    cursor: pointer;
}

#about {
    background-color: rgb(14, 13, 13);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h1 {
    color: rgb(196, 39, 0);
    text-align: center;
}

#about p {
    color: antiquewhite;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    margin: 10px auto 10% auto;
    width: 80%;
}